ADMOB_ANDROID_APP_ID=ca-app-pub-REPLACE_WITH_REAL_APP_ID
PLAY_GAMES_APP_ID=REPLACE_WITH_NUMERIC_PLAY_GAMES_APP_ID
PLAY_INTEGRITY_CLOUD_PROJECT_NUMBER=REPLACE_WITH_NUMERIC_GOOGLE_CLOUD_PROJECT_NUMBER
UPLOAD_CERT_SHA256=REPLACE_WITH_PLAY_UPLOAD_CERTIFICATE_SHA256
VERSION_CODE=REPLACE_WITH_UNUSED_PLAY_VERSION_CODE
VERSION_NAME=1.0.0
